<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">

    <link rel="stylesheet" href="/styles/partials/success.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Sucesso!</title>
</head>
<body>
    <div id="success-img"></div>
        <div class="checked">
            <img src="/images/icons/success-check-icon.svg" alt="Sucesso"><br>
            <strong>Cadastro salvo!</strong>
            <p>Tudo certo, seu cadastro está na nossa lista de proffys <br>
                Agora é só ficar de olho no seu WhatsApp
            </p>
            
            <a href="/study">Acessar lista de proffys</a>
        </div>
    </div>
</body>
</html>